__pycache__/
fish/.config/fish/fish_variables
my-emacs/.emacs.d/auto-save-list
my-emacs/.emacs.d/temp-buffers
my-emacs/.emacs.d/recentf
my-emacs/.emacs.d/eln-cache
vpn/.local/share/vpn/wireguard/**
vpn/.local/share/vpn/openvpn/**